{% extends 'base.html.twig' %}

{% block title %}Détails du Voyage
{% endblock %}

{% block body %}
	<div class="voyage-details-details-container">
		<a href="{{ path('liste_voyages') }}" class="back-button">Retour</a>

		<div class="content-box">
			<h1 class="voyage-details-title">{{ voyage.nom }}</h1>
			<div class="voyage-details-grid-container">
				<div class="voyage-details-grid-image">
					{% if false %}
						<img src="{{ asset(voyage.getImage()) }}" alt="Image du voyage" class="voyage-image">
					{% else %}
						<img src="{{ asset('images/default.jpg') }}" alt="Image par défaut" class="voyage-image"/>
					{% endif %}
				</div>
				<div class="voyage-details-grid-text">


					<div class="voyage-details-details-grid">
						<div>
							<strong>Destination :</strong>
						</div>
						<div>{{ voyage.destination.ville }},
							{{ voyage.destination.pays }}</div>

						<div>
							<strong>Dates :</strong>
						</div>
						<div>{{ voyage.dateDepart|date('d/m/Y') }}
							-
							{{ voyage.dateArrive|date('d/m/Y') }}</div>

						<div>
							<strong>Durée :</strong>
						</div>
						<div>{{ voyage.dateDepart.diff(voyage.dateArrive).days }}
							jours</div>

						<div>
							<strong>Formule :</strong>
						</div>
						<div>{{ voyage.formule }}</div>

						<div>
							<strong>Note :</strong>
						</div>
						<div class="stars">
							{% for i in 1..5 %}
								{% if i <= voyage.note %}
									⭐
								{% elseif i - 0.5 == voyage.note %}
									✬
								{% else %}
									☆
								{% endif %}
							{% endfor %}
						</div>

						<div>
							<strong>Météo actuelle :</strong>
						</div>
						<div>
							mizel°C
						</div>
					</div>
				</div>
			</div>

			<div class="description">
				<div class="price-box">
					<strong>Prix :</strong>
					<span class="price-value">{{ voyage.prix }}
						DT</span>
				</div>
				<div>
					{{ voyage.description }}
				</div>
			</div>

			<a href="{{ path('reservation_form', {'id': voyage.id}) }}" class="reserve-button">Réserver</a>

			<div class="voyage-details-feedback-container">
				<h2>Avis des voyageurs</h2>

				<form method="post" class="voyage-details-feedback-form">
					<label for="note">Note :</label>
					<input type="number" name="note" min="1" max="5" required>

					<label for="comment">Avis :</label>
					<textarea name="comment" required></textarea>

					<button type="submit">Envoyer</button>
				</form>

				<div class="voyage-details-feedback-list">
					{% for feedback in voyage.feedbacks %}
						<div class="voyage-details-feedback-item">
							<strong>{{ feedback.client.nom }}
								{{ feedback.client.prenom }}</strong>
							<span>({{ feedback.dateFeedback|date('d/m/Y') }})</span>
							<p>{{ feedback.contenu }}</p>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
