<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			{% block title %}TirFly
			{% endblock %}
		</title>
		<link rel="shortcut icon" href="{{ asset('favicon.svg') }}" type="image/svg+xml">
		<link rel="stylesheet" href="{{ asset('css/style.css') }}">
		  <link rel="stylesheet" href="{{ asset('styles/liste.css') }}">
		
		  	  
			  		  	  <link rel="stylesheet" href="{{ asset('styles/details		².css') }}">
	</head>
	<body id="top">

		{% include 'main/navbar.html.twig' %}

		{% if app.request.uri != app.request.schemeAndHttpHost ~ '/' %}
			<div style="margin-bottom: 80px;"></div>
		{% endif %}

		<main>
			{% block body %}{% endblock %}
		</main>

		{% if app.request.uri != app.request.schemeAndHttpHost ~ '/' %}
			<div style="margin-bottom: 50px;"></div>
		{% endif %}


		{% include 'main/footer.html.twig' %}

		<a href="#top" class="go-top" data-go-top>
			<ion-icon name="chevron-up-outline"></ion-icon>
		</a>

		<script src="{{ asset('js/script.js') }}"></script>
		<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
		<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


	</body>
</html>
